[data-md-color-scheme="sw"] {
    --md-primary-fg-color:        #000;
    --md-default-fg-color:             #f1f1f1;
    --md-default-fg-color--light:      #f1f1f1;
    --md-default-fg-color--lighter:    hsla(var(--md-hue), 75%, 90%, 0.32);
    --md-default-fg-color--lightest:   hsla(var(--md-hue), 75%, 90%, 0.12);
    --md-default-bg-color:             #080808;
    --md-code-fg-color:                hsla(var(--md-hue), 18%, 86%, 1);
    --md-code-bg-color:                #181818;
    --md-footer-bg-color--dark:        #080808;
    --md-accent-fg-color: #F4DE38;
    --md-typeset-a-color: #f1f1f1;
}
